body,
.root,
.appContainer {
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  color: $colorOne;
  background-color: $colorBack;
  font-family: $fontstyle_std;
  font-size: $mfont;
}

.displayContainer {
  width: 100%;
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.centralContainer {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  background-color: $colorOne;
  color: $colorBack;
  font-size: $h1font;
  padding: $mmargin;
}