// FONTS
$fontstyle_std: "Rubik";
$fontstyle_h1: "Open Sans";
// FONT SIZE
$xsfont: 10px;
$sfont: 12px;
$mfont: 14px;
$lfont: 16px;
$xlfont: 20px;
$h1font: 30px;
$bigIcon: 25px;
// COLOR
$colorOne: #3c99dc;
$colorTwo: #66d3fa;
$colorThree: #d5f3fe;
$colorFour: #2565ae;
$colorFive: #0f5298;
$colorBack: white;
$colorError: red;
// MARGIN
$xsmargin: 2px;
$smargin: 4px;
$mmargin: 6px;
$lmargin: 8px;
$xlmargin: 10px;
